<%- include('partials/header.ejs') %>

<main role="main" class="inner cover">
  <h1 class="cover-heading">Go ahead, talk to yourself.</h1>
  <p class="lead">Have you realized that most of your unhappiness in life is due to the fact that you are listening to yourself instead of talking to yourself?</p>
  <p class="blockquote-footer">Martyn Lloyd-Jones</p>
  <p class="lead">
    <a href="/talk" class="btn btn-secondary">Start talking</a>
  </p>
</main>

<%- include('partials/footer.ejs') %>
